<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Movie Modify Page</h1>
        <form action="/movie/modify" method="post">
<!--            <input type="hidden" name="page" th:value="${requestDTO.page}">-->
<!--            <input type="hidden" name="type" th:value="${requestDTO.type}">-->
<!--            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">-->
            <div class="form-group">
                <label>Mno</label>
                <input type="text" class="form-control" name="mno" th:value="${dto.mno}" readonly>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>
            <div class="form-group fileForm">
                <label>Image Files</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>
            <div class="box">
            </div>
        </form>
        <button type="button" class="btn btn-primary modifyBtn">Modify</button>
        <button type="button" class="btn btn-info listBtn">List</button>
        <button type="button" class="btn btn-danger removeBtn">Remove</button>
        <script th:inline="javascript">
            var actionForm = $("form");
            $(".removeBtn").click(function () {
                actionForm
                    .attr("action", "/movie/remove")
                    .attr("method", "post");
                actionForm.submit();
            });
            $(".modifyBtn").click(function () {
                if (!confirm("수정하시겠습니까?")) {
                    return;
                }
                actionForm
                    .attr("action", "/movie/modify")
                    .attr("method", "post")
                    .submit();
                // actionForm.submit();
            });
            $(".listBtn").click(function () {
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");
                actionForm.empty();
                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);
                actionForm
                    .attr("action", "/movie/list")
                    .attr("method", "get");
                console.log(actionForm.html());
                actionForm.submit();
            });

        </script>
    </th:block>
</th:block>